@import 'base.css';

html,
body {
  font-family: 'Microsoft YaHei';
  height: 100%;
}

.main {
  width: 16rem;
  height: 100%;
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main header {
  width: 100%;
  height: 2.975rem;
  background: url(../img/bg.png) no-repeat;
  background-size: 100% 100%;
  text-indent: -999em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main header a:nth-child(1) {
  width: 3.2rem;
  height: 2.3rem;
  background: url(../img/logo.png) no-repeat;
  background-size: 100% 100%;
  margin-left: 0.825rem;
}

.main header a:nth-child(2) {
  width: 0.975rem;
  height: 0.9rem;
  background: url(../img/menu.png) no-repeat;
  background-size: 100% 100%;
  margin-right: 0.575rem;
}

.main section {
  flex: 1;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main section nav {
  width: 15.95rem;
  height: 3.55rem;
  background: #fff;
  border-bottom: 0.025rem solid #d3d3d3;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.main section nav a {
  width: 1.875rem;
  height: 2rem;
  text-align: center;
  font-size: 0.425rem;
  color: #7a7a7a;
  margin-top: 0.375rem;
  padding-top: 2.25rem;
  flex: 1;
}

.main section nav a:nth-child(1) {
  background: url(../img/we.png) no-repeat center 0;
  background-size: 1.875rem 2rem;
}

.main section nav a:nth-child(2) {
  background: url(../img/show.png) no-repeat center 0;
  background-size: 1.875rem 2rem;
}

.main section nav a:nth-child(3) {
  background: url(../img/wind.png) no-repeat center 0;
  background-size: 1.875rem 2rem;
}

.main section nav a:nth-child(4) {
  background: url(../img/honour.png) no-repeat center 0;
  background-size: 1.875rem 2rem;
}

.main section nav a:nth-child(5) {
  background: url(../img/call.png) no-repeat center 0;
  background-size: 1.875rem 2rem;
}

.main section #box {
  margin-top: 0.575rem;
  background: #fff;
  border: 0.025rem solid #d2d2d2;
  position: absolute;
}

.main section #box h2 {
  width: 7.9rem;
  height: 1.75rem;
  display: block;
  background: url(../img/title-show.png) no-repeat;
  background-size: 100% 100%;
  margin-top: 0.725rem;
  text-indent: -999em;
  margin-left: 4.05rem;
}

.main section #box div {
  width: 15.95rem;
  margin-top: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main section #box div a {
  width: 6.275rem;
  height: 4.35rem;
  border: 0.025rem solid #ccc;
  text-align: center;
  font-size: 0.475rem;
  color: #333;
}

.main section #box div a:nth-child(1) {
  background: url(../img/display1.png) no-repeat;
  background-size: 100% 100%;
  margin-left: 1.275rem;
}

.main section #box div a:nth-child(2) {
  background: url(../img/display2.png) no-repeat;
  background-size: 100% 100%;
  margin-right: 1.275rem;
}

.main section #box div a:nth-child(3) {
  background: url(../img/display3.png) no-repeat;
  background-size: 100% 100%;
  margin-top: 1.375rem;
  margin-left: 1.275rem;
}

.main section #box div a:nth-child(4) {
  background: url(../img/display4.png) no-repeat;
  background-size: 100% 100%;
  margin-right: 1.275rem;
  margin-top: 1.375rem;
}

.main section #box div a:nth-child(5) {
  background: url(../img/display5.png) no-repeat;
  background-size: 100% 100%;
  margin-left: 1.275rem;
  margin-top: 1.375rem;
}

.main section #box div a:nth-child(6) {
  background: url(../img/display6.png) no-repeat;
  background-size: 100% 100%;
  margin-right: 1.275rem;
  margin-top: 1.375rem;
}

.main section #box span {
  width: 3.25rem;
  height: 0.825rem;
  background: #dcdcdc;
  font-size: 0.425rem;
  color: #666;
  text-align: center;
  line-height: 0.825rem;
  margin-bottom: 0.475rem;
  margin-left: 6.225rem;
}

.main footer {
  margin-top: 0.5rem;
}

.main footer div {
  width: 16rem;
  height: 2.5rem;
  background: #941d03;
  display: flex;
  justify-content: space-around;
}

.main footer div a {
  flex: 1;
  box-sizing: border-box;
  width: 1.125rem;
  height: 1.1rem;
  font-size: 0.425rem;
  color: #ebebeb;
  text-align: center;
  padding-top: 1.325rem;
  margin-top: 0.275rem;
}

.main footer div a:nth-child(1) {
  background: url(../img/house.png) no-repeat center 0;
  background-size: 1.125rem 1.1rem;
}

.main footer div a:nth-child(2) {
  background: url(../img/phone.png) no-repeat center 0;
  background-size: 1.125rem 1.1rem;
}

.main footer div a:nth-child(3) {
  background: url(../img/add.png) no-repeat center 0;
  background-size: 1.125rem 1.1rem;
}

.main footer div a:nth-child(4) {
  background: url(../img/back.png) no-repeat center 0;
  background-size: 1.125rem 1.1rem;
}